:root {
  --underlying-background: #292929d0;
  --overlaying-background: #01020369;
  --overlaying-border: #cccccc2e;
  --text-primary: #708394;
  --accent-color: #2a9a79;
  --text-accent-color: #8069c4;
  --light-teal: #2a9a79;
  --deep-teal: #1a7a61;
  --deep-blue: #166e6a;
  --light-blue: #1d8e86;
  --blue-lilac: #5770b4;
  --deep-blue-lilac: #455a96;
  --deep-pink-lilac: #6a51a6;
  --pink-lilac: #8069c4;
  --rose: #c45c8a;
}

.obsidian-app {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 228px;
  padding: 18px;
  background-color: var(--underlying-background);
  color: var(--text-primary);
}

.editor-container {
  flex-grow: 1;
  margin: 14px;
  background-color: var(--overlaying-background);
}

.editor {
  padding: 30px;
  color: var(--text-primary);
}

.folder-item {
  cursor: pointer;
}

.folder-item-00 {
  color: var(--light-teal);
}
.folder-item-01 {
  color: var(--deep-teal);
}
.folder-item-02 {
  color: var(--deep-blue);
}
.folder-item-03 {
  color: var(--light-blue);
}
.folder-item-04 {
  color: var(--blue-lilac);
}
.folder-item-05 {
  color: var(--deep-blue-lilac);
}
.folder-item-06 {
  color: var(--deep-pink-lilac);
}
.folder-item-07 {
  color: var(--pink-lilac);
}
.folder-item-99 {
  color: var(--rose);
}

.note-item {
  color: var(--text-primary);
}

.context-menu {
  background-color: var(--overlaying-background);
  border: 1px solid var(--overlaying-border);
}

.drag-over {
  background-color: var(--overlaying-background);
}
